# Pandas Exercises - Simple Exploratory Data Analysis (EDA) - Part 1

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Steps 2 and 3. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called "df_chipo".

Notice the delimiter.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
dataset = pd.read_csv(url, sep = '\t')
print(dataset)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### Step 4. See the first 10 entries

In [4]:
dataset.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
len(dataset)

4622

In [6]:
# Solution 2
dataset.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
len(dataset.columns)
dataset.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
list(dataset.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [9]:
dataset['quantity']

0       1
1       1
2       1
3       1
4       2
       ..
4617    1
4618    1
4619    1
4620    1
4621    1
Name: quantity, Length: 4622, dtype: int64

### Step 9. Which was the most-ordered item?

In [52]:
#wasted too much time on this one... I didn't want a O(nlogn) operation 
#when we can go for O(n), but could not do it in a better way
dataset.groupby(['item_name'])['quantity'].sum().sort_values(ascending=False).index.values[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [53]:
dataset.groupby(['item_name'])['quantity'].sum().sort_values(ascending=False).values[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [58]:
dataset.groupby(by='choice_description')['quantity'].sum().sort_values(ascending=False).index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [59]:
dataset['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [69]:
type(dataset['item_price'][0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [72]:
dataset['item_price'] = dataset['item_price'].apply(lambda s: float(s[1:]))

#### Step 13.c. Check the item price type

In [73]:
type(dataset['item_price'][0])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [79]:
#two different ways of doing it
dataset['order_revenue'] = dataset['quantity'] * dataset['item_price']
res1 = dataset['order_revenue'].sum()

res2 = (dataset['quantity'] * dataset['item_price']).sum()

res1, res2

(39237.02, 39237.02)

### Step 15. How many orders were made in the period?

In [82]:
dataset.shape[0]

4622

### Step 16. What is the average revenue amount per order?

In [84]:
# Solution 1
dataset['order_revenue'].sum() / dataset.shape[0]

8.48918649935093

In [85]:
# Solution 2
(dataset['quantity'] * dataset['item_price']).sum() / dataset.shape[0]

8.48918649935093

### Step 17. How many different items are sold?

In [90]:
dataset.drop_duplicates('item_name').shape[0]

50